<!DOCTYPE html>
<html>

<head>
    <title>SkiFree</title>
</head>

<body>
    <div class="container">
        <h1>Ski Free - Você é o esquiador, dê o seu melhor e seja o líder do ranking</h1>
        <img src="./../img/sova.jpg" width="400" height="350" />
    </div>
</body>

</html>