<div class="container">
    <div id="montanha">
        <div id="skier"></div>
    </div>
    <div id="score">
        <p class="scoreBoard">ScoreBoard</p>
        <p class="fonte">Metros percorridos: <span id="metros"></span></p>
        <p class="fonte">Vidas: <span id="vidas"></span></p>
        <p class="fonte">Velocidade: <span id="velocidade"></span></p>
    </div>
    <script src="/js/script.js"></script>
</div>