<!DOCTYPE html>
<html>

<head>
    <title>SkiFree</title>
</head>

<body>
    <div class="container">
        <h1>Ski Free - Você é o esquiador, dê o seu melhor e seja o líder do ranking</h1>
        <img src="./../img/versaoHelio.png" width="600" height="400" />

        <h3>
            Neste jogo aparentemente simples, porém muito divertido, <br>
            você controla um esquiador que vai descendo <br>
            uma montanha passando por vários obstáculos. <br>

            SkiFree foi originalmente desenvolvido por Chris Pirih, <br>
            ex programador da Microsoft que, com o objetivo de <br>
            aprender a programar em Windows, resolveu fazer a <br>
            versão gráfica do seu jogo de esqui para VAX/VMS.
        </h3>
        <img src="./../img/versaoVax.png" width="400" height="350" />
    </div>
</body>

</html>