<div class="container">
    <h4>Ski Free - Você é o esquiador, dê o seu melhor e seja o líder do ranking</h4>
    <div class="container">
        <img src="./../img/versaoHelio.png" width="600" height="400" />
        <p><br>
            Neste jogo aparentemente simples, porém muito divertido,
            você controla um <br>
            esquiador que vai descendo uma montanha passando por vários obstáculos. <br>

            SkiFree foi originalmente desenvolvido por Chris Pirih, ex programador <br>
            da Microsoft que, com o objetivo de aprender a programar em Windows, <br>
            resolveu fazer a versão gráfica do seu jogo de esqui para VAX/VMS.
        </p>
    </div>

    <img src="./../img/versaoVax.png" width="600" height="400" />
    <br>
    <br>
</div>