<div class="container">
    <h1 class="text-warning"> Áreas da Ciência</h1>
    <ul>
        {{#each areas}}
        <li class="text-secondary">{{nome}}</li>
        {{/each}}
    </ul>
    <br><br><br>
</div>