<div class="card  text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header">
        Sigla: {{curso.sigla}}
    </div>
    <div class="card-body">
        <h4 class="card-title"> {{curso.nome}}</h4> <br>
        <b> Descrição:</b> {{curso.descricao}} <br>
        <b> ÁreaId:</b> {{curso.areaId}} <br>
    </div>
</div>